:root {
    --ship-shake-amount: 5deg;
    --game_height: 550px;
    --game-width: 400px;
    --game-fire-btn-size: 75px;
}

#starBlasterTitle {
    text-align: center;
    margin: auto;
    font-family: 'ArcadeClassic', sans-serif;
}

#starBlasterWindow {
    position: relative;
    margin: auto;
    border: 2px solid black;
    height: var(--game_height);
    width: var(--game-width);
    background-image: url('imgs/space_background.png');
}

#gameInfo {
    width: 100%;
    position: absolute;
    z-index: 10;
}

.shipShake {
    animation: 0.2s shake;
}

#gameScoreTitle {
    width: 30%;
    position: relative;
    /* top: 0; */
    text-align: center;
    margin: auto;
    font-family: 'ArcadeClassic', sans-serif;
    color: red;
    font-size: 20px;
}

#gameplayButtons {
    margin: auto;
    padding-top: 6px;
    width: var(--game-width);
    justify-content: space-between;
    display: flex;
}

.gameBtn {
    height: var(--game-fire-btn-size);
    width: var(--game-fire-btn-size);
}

#directionControlButtons {
    white-space: nowrap;
    align-items: flex-start;
}

#shootPhaserBtn {
    border-radius: 50%;
    background-color: red;
    align-items: flex-end;
}

#gameScore {
    width: 30%;
    position: relative;
    /* top: 0; */
    text-align: center;
    margin: auto;
    font-family: 'ArcadeClassic', sans-serif;
    color: white;
    font-size: 20px;
}

#healthBar {
    width: 20%;
    position: absolute;
    left: 0;
    margin-top: 2px;
    margin-left: 2px;
    background: red; /*if uncomment this the style breaks*/
    font-size: 20px;
    z-index: 10;
}

#healthBar::-webkit-progress-value {
    background: red;
}

.health-red::-webkit-progress-value {
    background: red !important;
}

.health-yellow::-webkit-progress-value {
    background: yellow !important;
}
.health-green::-webkit-progress-value {
    background: green !important;
}

#spaceShip {
    position: absolute;
    top: 500px;
    background-image: url('imgs/spaceship.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    /* left: 0px; */
    z-index: 100;
    border: red;
}

#phaser {
    position: absolute;
    background-color: cyan;
    height: 25px;
    width: 4px;
    border-radius: 5px;
    animation: phaserShoot 0.8s linear;
    /* top: 410px; */
}

#enemy {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: red;
    animation: fallingObject 2.7s linear;
    /* margin-left: 17px; */
}

#powerup {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: green;
    animation: fallingObject 2.7s linear;
    /* margin-left: 17px; */
}

@keyframes phaserShoot {
    0% {
        top: 490px;
    }

    100% {
        top: 0px
    }
}

@keyframes fallingObject {
    0% {
        top: 0px;
    }

    100% {
        top: 537px
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-var(--ship-shake-amount)); }
    20% { transform: translate(-3px, 0px) rotate(var(--ship-shake-amount)); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(var(--ship-shake-amount)); }
    50% { transform: translate(-1px, 2px) rotate(-var(--ship-shake-amount)); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-var(--ship-shake-amount)); }
    80% { transform: translate(-1px, -1px) rotate(var(--ship-shake-amount)); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(var(--ship-shake-amount)); }
  }